@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #333;
	padding-top: 56px;
}

a {
	text-decoration: none;
}

/* .color-secondary:hover, */
.color-primary {
	color: #ffc200;
}
.color-secondary {
	color: #ff7600;
}

.alert-primary,
.btn.bgc-secondary:hover,
.bgc-primary {
	background-color: #ffc200;
}

.btn.bgc-primary:hover,
.bgc-secondary {
	background-color: #ff7600;
}
.cursor-pointer {
	cursor: pointer;
}
.main {
	overflow: hidden;
}
.form-select {
	text-transform: capitalize;
}
.form-number {
	text-align: center;
	width: 60px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.product-filter .form-label {
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.form-row label {
	font-weight: 500;
}

.f-letter-uppercase::first-letter {
	text-transform: uppercase;
}

.navbar-nav li a.nav-link {
	font-family: "Open Sans", sans-serif;
	color: #ffc200 !important;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover,
.navbar-nav li a.nav-link:hover,
.navbar-nav li a.nav-link.active {
	color: #ff7600 !important;
}

.header-minicart {
	z-index: 99;
	right: 0;
	top: 40px;
	min-width: 300px;
	border-radius: 5px;
}

.header-minicart ul {
	max-height: 40vh;
	overflow-y: scroll;
}
.dropdown {
	display: none;
}
@media (min-width: 992px) {
	.dropdown-trigger:hover .dropdown {
		display: block;
	}
}
@media (max-width: 991px) {
	.dropdown-trigger-mobile:hover .dropdown {
		display: block;
	}
}
